{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="mt-10 text-gray-900 antialiased">
    <div class="min-h-screen flex flex-col sm:justify-center items-center pt-8 sm:pt-0 bg-[#ffffff]">
        <div>
            <a href="/" class="hover:no-underline">
                <h2 class="font-bold text-3xl hover:text-[#f84525]">WiRE <span class="bg-[#f84525] text-white px-2 rounded-md hover:bg-[#000000]">CRM</span>
                </h2>
            </a>
        </div>

        <div class="w-full sm:max-w-md mt-6 px-6 py-4 bg-white shadow-md overflow-hidden sm:rounded-lg">
            <form method="POST" action="">
                {% csrf_token %}
                <div class="py-8">
                    <center>
                        <span class="text-2xl font-semibold">Sign Up</span>
                    </center>
                </div>

                <div>
                    <label for="username" class="block text-xm font-medium text-gray-700">Username</label>
                    {% render_field form.username type='text' name='text' placeholder='username' class+="w-full rounded-md py-2.5 px-4 border text-sm outline-gray-800" %}
                </div>

                <div class="mt-4">
                    <div class="relative">
                        <label for="username" class="block text-xm font-medium text-gray-700">Password</label>
                        {% render_field form.password1 type='password' name='password' placeholder='password' class+="w-full rounded-md py-2.5 px-4 border text-sm outline-gray-800" %}
                        <span class="text-xs">
                            -> Your password must be at least 8 characters long and contain a number. <br>
                            -> Your password cannot be entirely numeric. <br>
                            -> Your password cannot be entirely alphabetic. <br>
                        </span>
                    </div>
                </div>
                <div class="mt-4">
                    <div class="relative">
                        <label for="username" class="block text-xm font-medium text-gray-700">Confirm Password</label>
                        {% render_field form.password2 type='password' name='password' placeholder='password' class+="w-full rounded-md py-2.5 px-4 border text-sm outline-gray-800" %}
                    </div>
                </div>
                <div class="flex items-center justify-end mt-4">
                    <a href="{% url 'login' %}"
                        class="hover:underline text-sm text-gray-600 hover:text-gray-900 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                        Already have an account?
                    </a>

                    <button
                        class='ms-4 inline-flex items-center px-4 py-2 bg-[#000000] border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest focus:bg-gray-700 active:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 transition ease-in-out duration-150'>
                        Sign Up
                    </button>

                </div>

            </form>
        </div>
    </div>
</div>

{% endblock %}