/* width */
::-webkit-scrollbar {
    width: 8px;

}

/* Track */
::-webkit-scrollbar-track {
    background: #ccc;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 24px;
}

/* To handle height for vertical scrollbar, you can control the thumb height */
::-webkit-scrollbar-thumb {
    max-height: 200px;
    /* Minimum height of the thumb handle */
}