{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
<section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
        <div class="lg:w-4/5 mx-auto flex flex-wrap">
            <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
                <h2 class="text-sm title-font text-gray-500 tracking-widest">LEAD</h2>
                <h1 class="text-gray-900 text-3xl title-font font-medium mb-auto">{{ lead.first_name }} {{ lead.last_name }}</h1>
                <div class="flex mb-4">
                    <a class="hover:no-underline hover:text-indigo-500 hover:text-border-500 flex-grow border-b-2 border-grey-500 py-2 text-lg px-1"
                        href="{% url 'lead_detail' lead.id %}">Details</a>
                        
                    <a class="hover:no-underline hover:text-indigo-500 hover:text-border-500 flex-grow border-b-2 border-gray-300 py-2 text-lg px-1"
                        href="{% url 'lead_detail_update' lead.id %}">Update</a>
                </div>
                <form form action="" method="POST" class="ml-auto text-gray-900">
                    {% csrf_token %}
                    <div class="mt-auto grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                        <div class="sm:col-span-3">
                            <label for="first-name" class="block text-sm font-medium leading-6 text-gray-900">First name</label>
                            <div class="mt-2">
                                {% render_field form.first_name type="text" name="first-name" id="first-name" autocomplete="given-name" class+="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="text-gray-400"%}
                            </div>
                        </div>
                        <div class="sm:col-span-3">
                            <label for="last-name" class="block text-sm font-medium leading-6 text-gray-900">Last name</label>
                            <div class="mt-2">
                                {% render_field form.last_name type="text" name="first-name" id="first-name" autocomplete="given-name" class+="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"%}
                            </div>
                        </div>
                        <div class="sm:col-span-2">
                            <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Age</label>
                            <div class="mt-2">
                                {% render_field form.age type="age" name="age" id="age" autocomplete="age" class+="block w-20 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"%}
                            </div>
                        </div>
                        <div class="sm:col-span-4">
                            <label for="country" class="block text-sm font-medium leading-6 text-gray-900">Agent</label>
                            <div class="mt-2">
                              {% render_field form.agent id="agent" name="agent" autocomplete="agent-name" class+="block w-100 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6" %}
                            </div>
                        </div>
                        <div class="sm:col-span-4">
                            <label for="country" class="block text-sm font-medium leading-6 text-gray-900">Agent</label>
                            <div class="mt-2">
                              {% render_field form.category id="category" name="category" autocomplete="category" class+="block w-100 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6" %}
                            </div>
                        </div>
                    </div>
                    <div class="flex">
                        <input type="submit" value="Update" ,
                        class="mt-3 ml-auto btn btn-primary btn-sm">
                        <a href="{% url 'delete_lead' lead.id %}"
                            class="mt-3 ml-3 btn btn-danger btn-sm">
                            Delete
                        </a>
                    </div>
                </form>
            </div>
            <img alt="ecommerce" class="rounded-full h-200 h-64 object-cover object-center rounded"
                src="{% static 'profile/default_2.jpg' %}">
        </div>
    </div>
</section>
{% endblock %}