{% extends "base.html" %}
{% block content %}
{% load static %}
<section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
        <div class="lg:w-4/5 mx-auto flex flex-wrap">
            <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
                <h2 class="text-sm title-font text-gray-500 tracking-widest">LEAD</h2>
                <h1 class="text-gray-900 text-3xl title-font font-medium mb-auto">{{ lead.first_name }} {{ lead.last_name }}</h1>
                <div class="flex mb-4">
                    <a class="hover:no-underline hover:text-indigo-500 hover:text-border-500 flex-grow border-b-2 border-grey-500 py-2 text-lg px-1"
                        href="{% url 'lead_detail' lead.id %}">Details</a>
                    <a class="hover:no-underline hover:text-indigo-500 hover:text-border-500 flex-grow border-b-2 border-gray-300 py-2 text-lg px-1"
                    href="{% url 'lead_detail_update' lead.id %}">Update</a>
                </div>
                <div class="flex mb-3 mt-2">
                    <span class="ml-auto text-gray-900">{{ lead.description }}</span>
                </div>
                <a href="{% url 'update_status' lead.id %}" class="btn btn-primary btn-sm">Update</a>
            </div>
            <img alt="ecommerce" class="rounded-full h-200 h-64 object-cover object-center rounded"
                src="{% static 'profile/default_2.jpg' %}">
        </div>
    </div>
</section>

{% endblock %}