{% load static %}
{% load widget_tweaks %}
<nav class="bg-gray-800">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="flex flex-1 items-center justify-start">
        <!-- Left Side: Home, Calendar -->
        <div class="flex-shrink-0">
          <!-- <img class="h-8 w-8" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500"
            alt="Your Company"> -->
        </div>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <!-- Home and Calendar -->
            <a href="{% url 'home' %}"
              class="hover:no-underline hover:bg-gray-700 rounded-md px-2 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Home</a>
              <a href="{% url 'lead_list' %}"
              class="hover:no-underline hover:bg-gray-700 rounded-md px-2 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Leads</a>
              {% if request.user.is_organiser %}
              <a href="{% url 'agent_list' %}"
              class="hover:no-underline hover:bg-gray-700 rounded-md px-2 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Agents</a>
              <a href="{% url 'category_list' %}"
                class="hover:no-underline rounded-md px-2 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Category</a>
            {% endif %}
          </div>
        </div>
      </div>

      <!-- Right Side: Login, Register, Profile -->
      <div class="flex items-center space-x-3">
        <!-- Login and Register Links -->
        {% if not request.user.is_authenticated %}
        <a href="{% url 'signup' %}"
          class="hover:no-underline rounded-md px-2 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Sign
          Up</a>
        {% endif %}
        {% if request.user.is_authenticated %}
        <span class="rounded-md px-auto py-auto text-sm font-medium text-gray-300">
          {{ request.user.username }}
        </span>
        <a href="{% url 'logout' %}"
          class="hover:no-underline rounded-md px-2 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Logout</a>
        {% else %}
        <a href="{% url 'login' %}"
          class="hover:no-underline rounded-md px-2 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Login</a>
        {% endif %}
        <!-- Profile dropdown -->
        <div class="relative">
          <button type="button"
            class="relative flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
            id="user-menu-button" aria-expanded="false" aria-haspopup="true" onclick="toggleDropdown()">
            <span class="sr-only">Open user menu</span>
            <!-- <img class="h-8 w-8 rounded-full"
              src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
              alt=""> -->
            <img src="{% static 'profile/default.jpg' %}" alt="" class="rounded-circle h-8 w-8 mr-auto ml-auto">
          </button>

          <!-- Dropdown menu, hidden by default -->
          <div id="user-menu"
            class="hidden absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5"
            role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
            <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1"
              id="user-menu-item-0">Your Profile</a>
            <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1"
              id="user-menu-item-1">Settings</a>
            <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1"
              id="user-menu-item-2">Sign out</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="sm:hidden" id="mobile-menu">
    <div class="space-y-1 px-2 pb-3 pt-2">
      <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
      <a href="{% url 'home' %}" class="block rounded-md bg-gray-900 px-3 py-2 text-base font-medium text-white"
        aria-current="page">Home</a>
      <a href="#"
        class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Projects</a>
      <a href="#"
        class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Calendar</a>
    </div>
  </div>
</nav>